<% if user_signed_in? && user != current_user %>
  <% follow_button_color = current_user.following?(user) ? Relationship::FOLLOW_COLOR : Relationship::UNFOLLOW_COLOR %>
  <% if current_user.following?(user) %>
    <button class="js-follow-button <%= follow_button_color %>" id="<%= user.id %>" value="<%= current_user.following(user).id %>">フォロー中</button>
  <% else %>
    <button class="js-follow-button <%= follow_button_color %>" id="<%= user.id %>" value="">フォローする</button>
  <% end %>
<% end %>
