<div class="container mx-auto p-10">
  <div class="lg:w-1/2 md:w-2/3 mx-auto">
    <div class="block flex justify-between">
      <div class="flex items-start">
        <div class="inline-block">
          <% if @user.avatar.url %>
            <%= image_tag @user.avatar.url, class: "w-20 h-20 rounded-full inline-flex items-center justify-center" %>
          <% else %>
            <%= image_tag 'default.png', class: "w-20 h-20 rounded-full inline-flex items-center justify-center" %>
          <% end %>
        </div>
        <div class="flex flex-col ml-4">
          <div class="inline text-2xl"><%= @user.nickname %></div>
          <div class="inline text-lg"><%= @user.position.name if @user.position %></div>
        </div>
      </div>
      <div class="flex flex-col text-right">
        <div class="inline-block">
          <% if user_signed_in? && current_user != @user %>
            <% if @user.followed_by?(current_user) %>
              <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "text-white bg-green-500 py-2 px-8 hover:bg-green-600 rounded" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), method: :post,class: "text-green-500 bg-white py-2 px-8 hover:bg-white rounded border" %>
            <% end %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <% if current_user == @user %>
            <div class="inline-block">
              <%= link_to "プロフィール編集", edit_user_registration_path(current_user.id) %>
            </div>
          <% else %>
            <% if @isRoom == true %>
              <div class="inline-block mt-4"><%= link_to "DM", room_path(@roomId), class: "text-white bg-green-500 py-2 px-8 hover:bg-green-600 rounded" %></div>
            <% else %>
              <%= form_with model: @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <div class="inline-block mt-4"><%= f.submit "DM", class: "text-white bg-green-500 py-2 px-8 hover:bg-green-600 rounded" %></div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="block ml-24 py-2">
      <% if @user.profile %>
        <p class="text-base"><%= @user.profile %></p>
      <% else %>
        <p class="text-base">プロフィール文はまだありません。</p>
      <% end %>
    </div>
    <div class="block ml-24">
      <div class="inline mr-2">フォロー <%= link_to @user.followings.length, follows_user_path(@user.id) %></div>
      <div class="inline">フォロワー <%= link_to @user.followers.length, followers_user_path(@user.id) %></div>
    </div>
  </div>
</div>
<%= render 'posts/posts_index' %>