<div class="container mx-auto p-10">
  <div class="lg:w-1/2 md:w-2/3 mx-auto">
    <div class="block flex justify-between">
      <div class="flex items-start">
        <div class="inline-block">
          <% if @user.avatar.url %>
            <%= image_tag @user.avatar.url, class: "w-20 h-20 rounded-full inline-flex items-center justify-center" %>
          <% else %>
            <%= image_tag 'default.png', class: "w-20 h-20 rounded-full inline-flex items-center justify-center" %>
          <% end %>
        </div>
        <div class="flex flex-col ml-4">
          <div class="inline text-2xl"><%= @user.nickname %></div>
          <div class="inline text-lg"><%= @user.position.name if @user.position %></div>
        </div>
      </div>
      <div class="text-center">
        <div class="block flex flex-col">
          <% if user_signed_in? && current_user == @user %>
            <%= link_to edit_user_registration_path(current_user.id) do %>
              <div class="inline-block border py-1 px-2 rounded-lg">プロフィール編集</div>
            <% end %>
            <%= link_to rooms_path do %>
              <div class="inline-block mt-2 text-white bg-green-500 py-1 px-2 hover:bg-green-600 rounded">DM一覧</div>
            <% end %>
          <% end %>

          <% if user_signed_in? && current_user != @user %>
            <% if @user.followed_by?(current_user) %>
              <%= link_to user_relationships_path(@user.id), method: :delete do %>
                <div class="text-white bg-green-500 py-1 px-2 hover:bg-green-600 rounded text-center">フォロー中</div>
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(@user.id), method: :post do %>
                <div class="text-green-500 bg-white py-1 px-2 hover:bg-white rounded border text-center">フォローする</div>
              <% end %>
            <% end %>
          <% end %>

          <% if user_signed_in? && current_user != @user %>
            <% if @isRoom == true %>
              <%= link_to room_path(@roomId) do %>
                <div class="inline-block mt-2 text-white bg-green-500 py-1 px-2 hover:bg-green-600 rounded">DM</div>
              <% end %>
            <% else %>
              <%= form_with model: @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                  <%= f.button :type => "submit" do %>
                    <div class="inline-block mt-2 text-white bg-green-500 py-1 px-2 hover:bg-green-600 rounded">DM</div>
                  <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="block ml-24 py-2">
      <% if @user.profile %>
        <p class="text-base"><%= @user.profile %></p>
      <% else %>
        <p class="text-base">プロフィール文はまだありません。</p>
      <% end %>
    </div>
    <div class="block ml-24">
      <%= link_to follows_user_path(@user.id) do %>
        <div class="inline mr-2">フォロー <%= @user.followings.length %></div>
      <% end %>
      <%= link_to followers_user_path(@user.id) do %>
        <div class="inline">フォロワー <%= @user.followers.length %></div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'posts/posts_index' %>