<div>
  <% @anotherEntries.preload(:user, :room).each do |e| %>
    <div class="flex justify-start items-center border-b-2 py-2">
      <div class="flex items-center">
        <div class="mr-2">
          <%= link_to user_path(e.user_id) do %>
            <% if e.user.avatar.url %>
              <%= image_tag e.user.avatar.url, class: "w-10 h-10 rounded-full inline-flex items-center justify-center" %>
            <% else %>
              <%= image_tag 'default.png', class: "w-10 h-10 rounded-full inline-flex items-center justify-center" %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= link_to "#{e.user.nickname}", user_path(e.user_id) %>
        </div>
      </div>
      <div>
        <%= link_to "DMを送る", room_path(e.room_id) %>
      </div>
    </div>
  <% end %>
</div>
