<div class="container px-5 py-24 mx-auto">
  <div class="lg:w-1/2 md:w-2/3 mx-auto">
    <div class="block flex justify-between mb-2">
      <%= link_to user_path(@post.user.id) do %>
        <div class="inline-block">
          <% if @post.user.avatar.url %>
            <%= image_tag @post.user.avatar.url, class: "w-8 h-8 rounded-full inline-flex items-center justify-center" %>
          <% else %>
            <%= image_tag 'default.png', class: "w-8 h-8 rounded-full inline-flex items-center justify-center" %>
          <% end %>
        </div>
        <div class="inline-block">
          <%= @post.user.nickname %>
        </div>
      <% end %>
      <% if user_signed_in? && current_user == @post.user %>
        <div class="inline-block">
          <div class="inline-block">
            <%= link_to "編集", edit_post_path(@post.id) %>
          </div>
          <div class="inline-block">
            <%= link_to "削除", post_path(@post.id), method: :delete %>
          </div>
        </div>
      <% else %>
        <div class="inline-block">
          <% if @post.user.followed_by?(current_user) %>
            <%= link_to user_relationships_path(@post.user.id), method: :delete do %>
              <div class="text-white bg-blue-400 hover:bg-blue-500 rounded w-32 py-1 px-2 text-center">フォロー中</div>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@post.user.id), method: :post do %>
              <div class="text-blue-500 bg-white hover:bg-blue-300 rounded border w-32 py-1 px-2 text-center">フォローする</div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="block mb-2">
      <% if user_signed_in? %>
        <% if @post.empathy_by?(current_user) %>
          <%= link_to post_empathies_path(@post.id), method: :delete do %>
            <i class="fas fa-heart mr-2"></i><%= @post.empathies.count %>
          <% end %>
        <% else %>
          <%= link_to post_empathies_path(@post.id), method: :create do %>
            <i class="far fa-heart mr-2"></i><%= @post.empathies.count %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="block mb-2">
      <% unless @tag_list.blank? %>
        <% @tag_list.each do |tag| %>
          <div class="inline-block border px-2 py-1"><%= tag %></div>
        <% end %>
      <% end %>
    </div>
    <div class="block mb-5">
      <p><%= safe_join(@post.text.split("\n"),tag(:br)) %></p>
    </div>
    <% if user_signed_in? %>
      <div class="" >
        <%= link_to new_post_comment_path(params[:id]) do %>
          <div class="my-3 text-center text-white bg-green-500 border-0 py-1 focus:outline-none hover:bg-green-600 rounded text-lg">コメントする</div>
        <% end %>
      </div>
      <% @comments.each do |comment| %>
        <div class="p-2 mb-5">
          <div class="block mb-2 flex justify-between">
            <%= link_to user_path(comment.user.id) do %>
              <div class="inline-block">
                <% if comment.user.avatar.url %>
                  <%= image_tag comment.user.avatar.url, class: "w-8 h-8 rounded-full inline-flex items-center justify-center" %>
                <% else %>
                  <%= image_tag 'default.png', class: "w-8 h-8 rounded-full inline-flex items-center justify-center" %>
                <% end %>
              </div>
              <div class="inline-block ml-2">
                <%= comment.user.nickname %>
              </div>
            <% end %>
            <div class="inline-block">
              <%= link_to "削除", post_comment_path(@post, comment), method: :delete if comment.user == current_user %>
            </div>
          </div>
          <div class="block py-2">
            <p><%= safe_join(comment.text.split("\n"),tag(:br)) %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="blodk">コメントするにはログインしてください</div>
    <% end %>
  </div>
</div>