<p>投稿詳細</p>
<%= link_to @post.user.nickname, user_path(@post.user.id) %>

<% if user_signed_in? && current_user != @post.user %>
  <% if @post.user.followed_by?(current_user) %>
    <%= link_to "フォロー中", user_relationships_path(@post.user.id), method: :delete %>
  <% else %>
    <%= link_to "フォローする", user_relationships_path(@post.user.id), method: :post %>
  <% end %>
<% end %>

<p><%= @post.text %></p>
<% if user_signed_in? %>
  <% if @post.empathy_by?(current_user) %>
    <p>共感解除<%= link_to @post.empathies.count, post_empathies_path(@post.id), method: :delete %></p>
  <% else %>
    <p>共感する<%= link_to @post.empathies.count, post_empathies_path(@post.id), method: :create %></p>
  <% end %>
<% end %>
<% unless @tag_list.blank? %>
  <p>
    <% @tag_list.each do |tag| %>
      <%= tag %>
    <% end %>
  </p>
<% end %>
<% if user_signed_in? && current_user == @post.user %>
  <p><%= link_to "編集", edit_post_path(@post.id) %></p>
  <p><%= link_to "削除", post_path(@post.id), method: :delete %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "コメントする", new_post_comment_path(params[:id]) %>
  <p>コメント一覧</p>
  <% @comments.each do |comment| %>
    <p><%= comment.text %></p>
    <% if comment.user == current_user %>
      <%= link_to "コメント削除", post_comment_path(@post, comment), method: :delete %>
    <% end %>
  <% end %>
<% else %>
  <p>コメントするにはログインしてください</p>
<% end %>