<div class="bg-white p-4">
  <div>
    <div>
      <%= link_to user_path(@post.user_id) do %>
        <div class="flex items-center">
          <% if @post.user.avatar.url %>
            <%= image_tag @post.user.avatar.url, class: "w-8 h-8 rounded-full inline-flex items-center justify-center" %>
          <% else %>
            <%= image_tag 'default.png', class: "w-8 h-8 rounded-full inline-flex items-center justify-center" %>
          <% end %>
          <p class="ml-2 text-gray-700">
            <%= @post.user.nickname %>
            <span class="text-sm">が<%= @post.created_at %>に投稿</span>
          </p>
        </div>
      <% end %>
    </div>
    <div class="mt-1">
      <% if user_signed_in? && current_user == @post.user %>
        <%= link_to "編集", edit_post_path(@post.id) %>
        <%= link_to "削除", post_path(@post.id), method: :delete %>
      <% end %>
    </div>
  </div>
  <div class="mt-1">
    <%= render partial: "tags/tag_list", locals: { post: @post } %>
  </div>
  <div class="mt-1">
    <%= render partial: "empathies/empathy", locals: { post: @post } %>
  </div>
  <div class="mt-2">
    <p class="text-lg"><%= safe_join(@post.text.split("\n"),tag(:br)) %></p>
  </div>
</div>
<div class="bg-white mt-5 p-4">
  <p class="text-xl mb-2 border-b-2 border-black">コメント</p>
  <div>
    <% @comments.each do |comment| %>
      <div class="border-b-2 mb-2">
        <div class="flex justify-between items-center">
          <div>
            <%= link_to user_path(comment.user_id) do %>
              <div class="flex items-center">
                <% if comment.user.avatar.url %>
                  <%= image_tag comment.user.avatar.url, class: "w-8 h-8 rounded-full inline-flex items-center justify-center" %>
                <% else %>
                  <%= image_tag 'default.png', class: "w-8 h-8 rounded-full inline-flex items-center justify-center" %>
                <% end %>
                <p class="ml-2 text-gray-700">
                  <%= comment.user.nickname %>
                  <span class="text-sm">が<%= comment.created_at %>に投稿</span>
                </p>
              </div>
            <% end %>
          </div>
          <div>
            <%= link_to "削除", comment_path(comment.id), method: :delete if comment.user == current_user %>
          </div>
        </div>
        <div class="m-2">
          <p><%= safe_join(comment.text.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <%= render partial: "comments/comment_form", locals: { post: @post } %>
  </div>
</div>
