<% if user_signed_in? %>
  <% empathy_button_color = post.empathy_by?(current_user) ? Empathy::EMPATHY_COLOR : Empathy::UNEMPATHY_COLOR %>
  <% if post.empathy_by?(current_user) %>
    <button class="js-empathy-button <%= empathy_button_color %>" id="<%= post.id %>" value="<%= post.empathy_by(current_user).id %>">共感済み</button>
  <% else %>
    <button class="js-empathy-button <%= empathy_button_color %>" id="<%= post.id %>" value=" ">共感する</button>
  <% end %>
  <div class="text-center"><%= post.empathies.count %></div>
<% end %>
