<div class="container mx-auto md:flex items-center justify-between py-2">
  <div class="flex justify-around items-center border-b-2 sm:border-none py-2 sm:py-0">
    <%= link_to "Nayami2", root_path, class: "sm:ml-3 text-xl" %>
    <div class="sm:ml-2">
      <%= render partial: "posts/search_form" %>
    </div>
  </div>
  <div class="items-center flex justify-around mt-2 sm:mt-0">
    <% if user_signed_in? %>
      <%= link_to new_post_path, class: "md:mr-5" do %>
        <i class="fas fa-edit"></i>
        新規投稿
      <% end %>
      <%= link_to notifications_path, class: "md:mr-5" do %>
        <% if unchecked_notifications.any? %>
          <i class="fas fa-bell"></i><i class="fas fa-exclamation ml-1"></i>
        <% else %>
          <i class="fas fa-bell"></i>
        <% end %>
        通知
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "md:mr-5" do %>
        <i class="fas fa-sign-out-alt"></i>
        ログアウト
      <% end %>
      <%= link_to user_path(current_user.id) do %>
        <% if current_user.avatar.url %>
          <%= image_tag current_user.avatar.url, class: "w-10 h-10 rounded-full inline-flex items-center justify-center md:mr-5" %>
        <% else %>
          <%= image_tag 'default.png', class: "w-10 h-10 rounded-full inline-flex items-center justify-center md:mr-5" %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: "mr-5" %>
      <%= link_to "ログイン", new_user_session_path, class: "mr-5" %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
    <% end %>
  </div>
</div>
