<!DOCTYPE html>
<html>
  <head>
    <title>Nayami2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">  </head>
  <body>
    <section class="text-gray-600 body-font">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render 'layouts/header' %>
      <%= yield %>
    </section>
  </body>
</html>
