<!DOCTYPE html>
<html>
  <head>
    <title>Nayami2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">  </head>
  <body class="relative min-h-screen box-border pb-10">
    <div class="text-center">
      <%= flash[:notice] %>
      <%= flash[:success] %>
      <%= flash[:danger] %>
    </div>
    <header class="bg-green-200 mb-2">
      <%= render 'layouts/header' %>
    </header>
    <main class="container mx-auto mb-5">
      <div class="sm:flex max-w-5xl mx-auto px-4">
        <div class="sm:w-1/5 mb-2">
          <%= render partial: "layouts/side_var" %>
        </div>
        <div class="sm:w-4/5">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="absolute bottom-0 w-full">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
